<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 전자결재 처리 SQL -->
<mapper namespace="com.a7.everyware.approval.dao.ApprovalMapper">

	<resultMap id="approvalMap" type = "ApprovalVO">
		<result property = "eApproval_id" javaType = "int" column = "eApproval_id" jdbcType = "NUMERIC"/>
		<result property = "user_id" javaType = "java.lang.String" column = "user_id" jdbcType = "VARCHAR"/>
		<result property = "eApproval_title" javaType = "java.lang.String" column = "eApproval_title" jdbcType = "VARCHAR"/>
		<result property = "eApproval_content" javaType = "_byte[]" column = "eApproval_content" jdbcType = "BLOB"/>
		<result property = "eApproval_sDate" javaType = "java.lang.String" column = "eApproval_sDate" jdbcType = "DATE"/>
		<result property = "eApproval_fDate" javaType = "java.lang.String" column = "eApproval_fDate" jdbcType = "DATE"/>
		<result property = "eApprovalLine_id" javaType = "int" column = "eApprovalLine_id" jdbcType = "NUMERIC"/>
		<result property = "eApproval_saved" javaType = "java.lang.String" column = "eApproval_saved" jdbcType = "VARCHAR"/>
		<result property = "eApproval_original" javaType = "java.lang.String" column = "eApproval_original" jdbcType = "VARCHAR"/>
		<result property = "eApproval_fileSize" javaType = "int" column = "eApproval_fileSize" jdbcType = "NUMERIC"/>
	</resultMap>



	<resultMap id="approvalFormatMap" type = "ApprovalFormatVO">
		<result property = "approvalFormat_id" javaType = "int" column = "approvalFormat_id" jdbcType = "NUMERIC"/>
		<result property = "user_id" javaType = "java.lang.String" column = "user_id" jdbcType = "VARCHAR"/>
		<result property = "approvalFormat_name" javaType = "java.lang.String" column = "approvalFormat_name" jdbcType = "VARCHAR"/>
		<result property = "approvalFormat_title" javaType = "java.lang.String" column = "approvalFormat_title" jdbcType = "VARCHAR"/>
		<result property = "approvalFormat_content" javaType = "_byte[]" column = "approvalFormat_content" jdbcType = "BLOB"/>
	</resultMap>



	
	<select id="findUser" resultType="UserVO">
		select
				u.user_id
				,u.user_name
				,d.dept_name
				,p.position_name
			from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
	</select>
	
	<!-- 결재라인 등록 -->
	<insert id="insertApprovalLine" parameterType="ApprovalLineVO">
		insert into
			approvalLine_tb(
				eApprovalLine_id
				,user_id
				,eApprovalLine_name
				,eApprovalLine_person1
				,eApprovalLine_person2
				,eApprovalLine_person3
				)
			values(
				eApprovalLine_id_seq.nextval
				,#{user_id}
				,#{eApprovalLine_name}
				,#{eApprovalLine_person1}
				,#{eApprovalLine_person2}
				,#{eApprovalLine_person3}
			)
	</insert>
	
	<!-- user_id로 결재선 불러오기  (내 결재선 모두 불러오기)-->
	<select id="findApprovalLine" parameterType="String" resultType="ApprovalLineVO">
		  select
			l.eApprovalLine_id
            ,l.user_id
            ,l.eApprovalLine_name
            ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person1
                ) as eApprovalLine_person1
                ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person2
                ) as eApprovalLine_person2
                ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person3
                ) as eApprovalLine_person3
		from
			approvalLine_tb l
		where
			l.user_id = #{user_id}
	</select>
	
	<!-- id로 유저 검색 -->
	<select id="findUserById" parameterType="String" resultType="UserVO">
		select
			*
		from
			user_tb
		where
			user_id = #{user_id}
	</select>
	
	<select id="findUserById2" parameterType="String" resultType="UserVO">
		select
				u.user_id
				,u.user_name
				,d.dept_name
				,p.position_name
			from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
				and u.user_id = #{user_id}
	</select>
	
	
	
	
	
	<!-- 결재선 아이디로 결재선 불러오기 -->
	<select id="findApprovalLineById" parameterType="int" resultType="ApprovalLineVO">
		select
			l.eApprovalLine_id
            ,l.user_id
            ,l.eApprovalLine_name
            ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person1
                ) as eApprovalLine_person1
                ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person2
                ) as eApprovalLine_person2
                ,(select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = l.eApprovalLine_person3
                ) as eApprovalLine_person3
		from
			approvalLine_tb l
		where
			l.eApprovalLine_id = #{eApprovalLine_id}
	</select>
	
	
	<select id="findApprovalLineById2" parameterType="int" resultType="ApprovalLineVO">
		select
			*
		from
			approvalLine_tb 
		where
			eApprovalLine_id = #{eApprovalLine_id}
	</select>
	
	
	
	
	<!-- 전자결재 문서 등록 -->
	<insert id="insertApproval" parameterType="ApprovalVO">
		insert into
			electronicApproval_tb
				(
				eApproval_id
				,user_id
				,eApproval_title
				,eApproval_content
				,eApproval_sDate
				,eApproval_fDate
				,eApprovalLine_id
				<if test="eApproval_saved != null">
					,eApproval_saved
					,eApproval_original
					,eApproval_fileSize
				</if>
				)
			values
				(
				eApproval_id_seq.nextval
				,#{user_id}
				,#{eApproval_title}
				,#{eApproval_content}
				,#{eApproval_sDate}
				,#{eApproval_fDate}
				,#{eApprovalLine_id}
				<if test="eApproval_saved != null">
					,#{eApproval_saved}
					,#{eApproval_original}
					,#{eApproval_fileSize}
				</if>
				)
	</insert>
	
	
	<!-- 내가 결재 해야할 결재문서 불러오기 -->
	<select id="findApprovalToMe" parameterType="String" resultMap="approvalMap">
		select
		    eApproval_id
			,user_id
			,eApproval_title
			,eApproval_content
			,to_char(eApproval_sDate, 'yyyy/mm/dd') as "eApproval_sDate"
			,to_char(eApproval_fDate, 'yyyy/mm/dd') as "eApproval_fDate"
			,eApprovalLine_id
			,eApproval_saved
			,eApproval_original
			,eApproval_fileSize
		from 
		    electronicApproval_tb p
		where
		    #{user_id} in  (
                        (select 
                            eApprovalLine_person1
			                from approvalLine_tb 
                            where p.eApprovalLine_id = eApprovalLine_id)
                        ,(select 
                            eApprovalLine_person2
			                from approvalLine_tb 
                            where p.eApprovalLine_id = eApprovalLine_id)
                        ,(select 
                            eApprovalLine_person3
			                from approvalLine_tb 
                            where p.eApprovalLine_id = eApprovalLine_id)
                        )
	</select>	
	
	<!-- 내가 올린 결재문서 불로오기 -->
	<select id="findApprovalFromMe" parameterType="String" resultMap="approvalMap">
		select
			eApproval_id
			,user_id
			,eApproval_title
			,eApproval_content
			,to_char(eApproval_sDate, 'yyyy/mm/dd') as "eApproval_sDate"
			,to_char(eApproval_fDate, 'yyyy/mm/dd') as "eApproval_fDate"
			,eApprovalLine_id
			,eApproval_saved
			,eApproval_original
			,eApproval_fileSize
		from
			 electronicApproval_tb 
		where
			user_id = #{user_id}
	</select>
	
	<!-- eApproval_id로 history(수정,상신은 제외) 가져오기 -->
	<select id="findApprovalHistory" parameterType="int" resultType="ApprovalHistoryVO">
		select
			eHistory_id
			,eApproval_id
			,user_id
			,eHistory_content
			,eHistory_date
			,eHistory_reason
		from
			approvalHistory_tb
		where
			eApproval_id = #{eApproval_id}
			and eHistory_content != '수정'
			and eHistory_content != '상신'
		order by
			eHistory_date desc
	</select>
	
	
	<select id="findApprovalById" parameterType="int" resultMap="approvalMap">
		select
			eApproval_id
			,user_id
			,eApproval_title
			,eApproval_content
			,to_char(eApproval_sDate, 'yyyy/mm/dd') as "eApproval_sDate"
			,to_char(eApproval_fDate, 'yyyy/mm/dd') as "eApproval_fDate"
			,eApprovalLine_id
			,eApproval_saved
			,eApproval_original
			,eApproval_fileSize
		from
			electronicApproval_tb
		where
			eApproval_id = #{eApproval_id}
	
	</select>
	
	<!-- user_id로 이름 / 부서 / 직위 가져오기 -->
	<select id="findStatusById" parameterType="String" resultType="String">
		select
				u.user_name || ' / ' || d.dept_name || ' / ' || p.position_name
            from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
                and u.user_id = #{user_id}	
	</select>
                
                
    <!-- 결재하기 (history insert) -->
	<insert id="insertHistory" parameterType="approvalHistoryVO">
		insert into
			approvalHistory_tb(
				eHistory_id
				,eApproval_id
				,user_id
				,eHistory_content
				<if test="eHistory_reason != null">
					,eHistory_reason
				</if>				
			)values(
				eHistory_id_seq.nextval
				,#{eApproval_id}
				,#{user_id}
				,#{eHistory_content}
				<if test="eHistory_reason != null">
					,#{eHistory_reason}
				</if>	
			)
	</insert>
	
	
	<!-- 결재양식 등록 -->
	<insert id="insertFormat" parameterType="ApprovalFormatVO">
		insert into
			approvalFormat_tb(
				approvalFormat_id
				,user_id
				,approvalFormat_name
				,approvalFormat_title
				,approvalFormat_content
			)values(
				approvalFormat_id_seq.nextval
				,#{user_id}
				,#{approvalFormat_name}
				,#{approvalFormat_title}
				,#{approvalFormat_content}
			)
			
	</insert>
	
	<select id="findFormat" parameterType="String" resultMap="approvalFormatMap">
		select
			*
		from
			approvalFormat_tb
		where
			user_id = #{user_id}
	</select>
	
	
	<!-- 반려된 결재 수정 -->
	<update id="editApproval" parameterType="ApprovalVO">
		update
			electronicApproval_tb
		set
			eApproval_title = #{eApproval_title}
			,eApproval_content = #{eApproval_content}
			,eApproval_sDate = #{eApproval_sDate}
			,eApproval_fDate = #{eApproval_fDate}
			,eApprovalLine_id = #{eApprovalLine_id}
			<if test="eApproval_saved != null">
				,eApproval_saved = #{eApproval_saved}
				,eApproval_original = #{eApproval_original}
			</if>
		where
			eApproval_id = #{eApproval_id}
	</update>
	
	
	<!-- 반려고 완료된 히스토리 수정 -->
	<update id="updateHistory" parameterType="ApprovalHistoryVO">
		update
			approvalHistory_tb
		set
			eHistory_content = '수정'
		where
			eApproval_id = #{eApproval_id}
			and eHistory_content = '반려'
	</update>
	
	
</mapper>
