<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 전자결재 처리 SQL -->
<mapper namespace="com.a7.everyware.approval.dao.ApprovalMapper">
	
	<select id="findUser" resultType="UserVO">
		select
				u.user_id
				,u.user_name
				,d.dept_name
				,p.position_name
			from
				user_tb u
				, dept_tb d
				, position_tb p
			where
				u.dept_id = d.dept_id
				and u.position_id = p.position_id
	</select>
	
	<!-- 결재라인 등록 -->
	<insert id="insertApprovalLine" parameterType="ApprovalLineVO">
		insert into
			approvalLine_tb(
				eApprovalLine_id
				,user_id
				,eApprovalLine_name
				,eApprovalLine_person1
				,eApprovalLine_person2
				,eApprovalLine_person3
				)
			values(
				eApprovalLine_id_seq.nextval
				,#{user_id}
				,#{eApprovalLine_name}
				,#{eApprovalLine_person1}
				,#{eApprovalLine_person2}
				,#{eApprovalLine_person3}
			)
	</insert>
	
	<!-- 결재선 불러오기 -->
	<select id="findApprovalLine" parameterType="String" resultType="ApprovalLineVO">
		select
			*
		from
			approvalLine_tb
		where
			user_id = #{user_id}
	</select>
	
	
</mapper>
