<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="com.a7.everyware.board.dao.BoardMapper">

	<!-- 게시글 저장 -->
	<insert id="insertBoard" parameterType="BoardVO">
		insert into board_tb (
			board_id
			, board_title
			, board_content
			, user_id
			, board_attached
			, boardfolder_id
			
		)
		values (
			board_id_seq.nextval
			, #{board_title}
			, #{board_content}
			, #{user_id}
			, #{board_attached}
			, #{boardfolder_id}
			
		)
	</insert>
	
	<!-- 게시판 첨부파일 저장 -->
	<insert id="insertBoardAttached" parameterType="BoardAttachedVO">
		insert into boardAttached_tb (
			bAttached_id
			, board_id
			, bAttached_saved
			, bAttached_original	
		)
		values (
			boardAttached_id_seq.nextval
			, #{board_id}
			, #{bAttached_saved}
			, #{bAttached_original}
			
		)
	</insert>
	
	
	<!-- 게시글 읽기  -->
	<select id="searchBoard" parameterType="int" resultType="BoardVO">
		select 
			board_id
			, user_id
			, board_title
			, board_content
			, to_char(board_date, 'YYYY-MM-DD HH24:MI:SS') board_date
			, board_hits
			, board_attached
		from 
			board_tb 
		where 
			board_id = #{board_id}
	</select>
	
	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="int">
		update
			board_tb
		set
			board_hits = board_hits + 1
		where
			board_id = #{board_id}
	</update>
	
	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="getTotal" parameterType="string" resultType="int">
		select 
			count(*)
		from 
			board_tb 
		<if test="_parameter != null">
		where 
			board_title like '%' || #{searchText} || '%'
		</if>
	</select>
	
	
	<!-- 현재 페이지 목록 (검색 필터링 후) -->
	<select id="listBoard" parameterType="string" resultType="BoardVO">
		select 
			board_id
			, user_id
			, board_title
			, to_char(board_date, 'YYYY-MM-DD') board_date
			, board_hits
		from 
			board_tb 
		<if test="_parameter != null">
		where 
			board_title like '%' || #{searchText} || '%'
		</if>
		order by board_id desc
	</select>
	
	
	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="BoardVO">
		delete
		from
			board_tb
		where
			board_id = #{board_id}
			and user_id = #{user_id}
	</delete>

	<!-- 글 수정 -->
	<update id="modifyBoard" parameterType="BoardVO">
		update
			board_tb
		set
			board_title = #{board_title}
			, board_content = #{board_content}
			<!-- <if test="bAttached_original != null and bAttached_saved != null"> -->
			, board_attached = #{board_attached}
			<!-- </if> -->
		where
			board_id = #{board_id}
			and user_id = #{user_id}
	</update>
	
	<!-- 리플 저장 -->
	<insert id="insertBoardReply" parameterType="BoardReplyVO">
		insert into boardReply_tb (
			bReply_id
			, board_id
			, bReply_content
			, user_id
		)
		values (
			breply_id_seq.nextval
			, #{board_id}
			, #{bReply_content}
			, #{user_id}
		)
	</insert>
	
	<!-- 리플 삭제 -->
	<delete id="deleteBoardReply" parameterType="BoardReplyVO">
		delete
		from
			boardReply_tb
		where
			bReply_id = #{bReply_id}
			and user_id = #{user_id}
	</delete>
	
	<!-- 현재 글의 리플 목록 -->
	<select id="listBoardReply" parameterType="int" resultType="BoardReplyVO">
		select 
			bReply_id
			, board_id
			, user_id
			, bReply_content
			, to_char(bReply_date, 'YYYY-MM-DD') bReply_date
		from 
			boardReply_tb 
		where
			board_id = #{board_id}
		order by bReply_id desc
	</select>

	<!-- 리플 수정 -->
	<update id="modifyBoardReply" parameterType="BoardReplyVO">
		update
			boardReply_tb
		set
			bReply_content = #{bReply_content}
		where
			bReply_id = #{bReply_id}
			and user_id = #{user_id}
	</update>
	
</mapper>