<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.a7.everyware.user.vo.UserVO" alias="UserVO" />
		<typeAlias type="com.a7.everyware.board.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="com.a7.everyware.board.vo.BoardAttachedVO" alias="BoardAttachedVO" />
		<typeAlias type="com.a7.everyware.approval.vo.ApprovalVO" alias="ApprovalVO" />
		<typeAlias type="com.a7.everyware.approval.vo.ApprovalLineVO" alias="ApprovalLineVO" />
		<typeAlias type="com.a7.everyware.approval.vo.ApprovalHistoryVO" alias="ApprovalHistoryVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/approvalMapper.xml" />
	</mappers>
</configuration>
