<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.a7.everyware.resource.dao.ResourceMapper">
	<select id="read_Resource" parameterType="String" resultType="ResourceVO">
		select * from Resource_tb
		where resource_id = #{resource_id}
	</select>

	<insert id="Resource_add" parameterType="ReservationVO"> 
		insert into R_reservation_tb
		values
		(R_reservation_id_seq.nextval, #{R_reservation_type},#{resource_id}
		,#{r_reservation_sdate},#{r_reservation_fdate},#{r_reservation_regDate},#{r_reservation_userName},#{r_reservation_memo})
	</insert>
	
	<delete id="Resource_delete" parameterType="ReservationVO">
		delete from R_reservation_tb
		where R_reservation_id = #{R_reservation_id}
	</delete>
	
	<select id="get_Resource" parameterType="String" resultType="ReservationVO">
		select* from R_reservation_tb
		where resource_id = #{resource_id}
	</select>
	
	<select id="get_R_reservation" parameterType="String" resultType="ReservationVO">
		select * from R_reservation_tb
		where R_reservation_id = #{R_reservation_id}
	</select>
</mapper>
