<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 유저정보 처리 SQL -->
<mapper namespace="com.a7.everyware.user.dao.UserMapper">
		
	<!-- 회원 정보 수정 -->
	<update id="modifyUser" parameterType="UserVO">
		update user_tb
		set
			user_pw = #{user_pw}
			, user_address = #{user_address}
			, user_phone = #{user_phone}
		where
			user_id = #{user_id}
	</update>
	
	
	<!-- 전체 유저 수 -->
	<select id="getTotal" parameterType="string" resultType="int">
		select 
			count(*)
		from 
			user_tb 
		<if test="_parameter != null">
		where 
			user_name like '%' || #{searchText} || '%'
		</if>
	</select>
	
	
	<!-- 유저 주소록(검색포함) -->
	<select id="userList" parameterType="string" resultType="UserVO">
	select 
		u.user_id
		,u.user_name
		,d.dept_name
		,p.position_name
		,u.user_phone
	from
		user_tb u
		, dept_tb d
		, position_tb p
	where
		u.dept_id = d.dept_id
		and u.position_id = p.position_id
		<if test="_parameter != null">
		and u.user_name like '%' || #{searchText} || '%'
		</if>
	order by user_id asc
	</select>
	
	
	<!-- 유저 정보 select -->
	<select id="findUser" parameterType="String" resultType="UserVO">
		select
			u.user_id
			,u.user_pw
			,u.user_name
			,d.dept_name
			,p.position_name
			,u.user_address
			,u.user_phone
			,u.authority
		from
			user_tb u
			, dept_tb d
			, position_tb p
		where
			u.user_id = #{user_id}
			and u.dept_id = d.dept_id
			and u.position_id = p.position_id
	</select>
	
	
<!-- 	
	회원 정보 저장
	<insert id="insertUser" parameterType="UserVO">
		insert into user_tb (
			user_id
			, user_pw
			, user_name
			, dept_id
			, position_id
			, user_address
			, user_phone
			, authority
		)
		values (
			#{user_id}
			, #{user_pw}
			, #{user_name}
			, #{dept_id}
			, #{position_id}
			, #{user_address}
			, #{user_phone}
			, #{authority}
		)
	</insert>
	
	id체크
	<select id="checkId" parameterType="string" resultType="UserVO">
		select * from user_tb where user_id = #{user_id}
	</select>
	 -->
	
	
</mapper>
